{{ ansible_managed | comment }}

{% if item.value.comment is defined %}{{ item.value.comment | comment(prefix='', postfix='') }}{% endif %}
{% for entry in item.value.entries %}
{{ entry.name }} = {{ entry.value }}
{% endfor %}
